no-wrap() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

animation-m() {
    -webkit-animation: arguments;
    animation: arguments;
}

animation-delay-m() {
    -webkit-animation-delay: arguments;
    animation-delay: arguments;
}

transition-m() {
    -webkit-transition: arguments;
    transition: arguments;
}

transform-m() {
    -webkit-transform: arguments;
    transform: arguments;
}

transform-origin-m() {
    -webkit-transform-origin: arguments;
    transform-origin: arguments;
}
