$background-dark = #004077

$foreground = #16325c
$foreground-active = #1883e0
$foreground-muted = #92a0b9

$font-family = Arial, Helvetica, sans-serif

$font-h2 = 21px \/ 25px $font-family
$font-h3 = 17px \/ 21px $font-family
$font-h4 = 15px \/ 17px $font-family
$font-h5 = 10px \/ 13px $font-family
$font = 13px \/ 15px $font-family

$header-height = 60px

$border = #1883e0
$border-muted = #63aff1
$border-pale = #b9ceec
