$background = #fff
$background-dark = #004077
$background-pale = rgba(3, 151, 222, 0.08)
$background-muted = #f9f9f9

$foreground = #16325c
$foreground-active = #1883e0
$foreground-muted = #92a0b9

$button-hover = #f3f3f3
$button-active = #f1f1f1

$button-action = #00a900
$button-action-hover = #029a02
$button-action-active = #019201

$font-family = Arial, Helvetica, sans-serif

$font-h2 = 21px \/ 25px $font-family
$font-h3 = 17px \/ 21px $font-family
$font-h4 = 15px \/ 17px $font-family
$font-h5 = 10px \/ 13px $font-family
$font = 13px \/ 15px $font-family

$header-height = 60px

$border = #1883e0
$border-muted = #63aff1
$border-pale = #b9ceec
