$avatar-size = 30px
$avatar-size-L = 45px

.avatar {
    font: $font-h3;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    text-transform: capitalize;

    &_size_L {
        width: $avatar-size-L;
        height: $avatar-size-L;
        line-height: $avatar-size-L;
    }
}
