$pageIndexFoldersWidth = 200px
$pageIndexPadding = 20px

.page-index {
    position: relative;
    display: block;
    height: 100%;

    &__main {
        padding: $pageIndexPadding $pageIndexPadding $pageIndexPadding ($pageIndexFoldersWidth + 20px);
        height: 100%;
        overflow-y: scroll;
        background: $background-muted;

        & .page {
            background: $background;
        }
    }

    &__folders {
        width: $pageIndexFoldersWidth;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        padding: $pageIndexPadding 0;
        background: $background;
    }

    &__line {
        position: absolute;
        right: 0;
        top: $pageIndexPadding;
        bottom: $pageIndexPadding;
        width: 0;
        border-right: 1px solid $border;
    }
}
